/* Tasks list */

.separator {
  background: linear-gradient(to bottom, @borders, transparent);
}

/* Task */

.task {
  margin: 6px 12px 6px 12px;
}

.task-expand-icon {
  transition: transform 0.25s;
}

.sub-task-drop-area {
  margin-right: 80px;
  padding: 10px 50px;
  border-radius: 10px;
  border-width: 5px;
  border-style: dotted;
  border-color: @light_3;
}

.task-blue {
  background: mix(@blue_1, @light_1, 0.6);
}

.task-green {
  background: alpha(@green_1, 0.3);
}

.task-yellow {
  background: alpha(@yellow_1, 0.3);
}

.task-orange {
  background: alpha(@orange_1, 0.3);
}

.task-red {
  background: alpha(@red_1, 0.3);
}

.task-purple {
  background: alpha(@purple_1, 0.3);
}

.task-brown {
  background: alpha(@brown_1, 0.3);
}

/* Accent colors buttons */

.accent-color-btn {
  transition: 0.25s;
  min-width: 30px;
  min-height: 30px;
}

.accent-color-btn:hover {
  filter: brightness(1.2);
}

.btn-blue {
  background: @blue_1;
}

.btn-green {
  background: @green_1;
}

.btn-yellow {
  background: @yellow_1;
}

.btn-orange {
  background: @orange_1;
}

.btn-red {
  background: @red_1;
}

.btn-purple {
  background: @purple_1;
}

.btn-brown {
  background: @brown_1;
}

/* Sub-task */

.sub-tasks:last-child {
  margin-bottom: 6px;
}

.sub-task {
  margin: 6px 11px 6px 11px;
}

/* Progress bar */

progressbar {
  transition: background-color 0.25s;
  opacity: 0.7;
}

progress {
  transition: background-color 0.25s;
}

.task-progressbar {
  background-color: @card_shade_color;
}

.progress-blue progress {
  background-color: @blue_2;
}

.progress-green progress {
  background-color: @green_3;
}

.progress-yellow progress {
  background-color: @yellow_5;
}

.progress-orange progress {
  background-color: @orange_3;
}

.progress-red progress {
  background-color: @red_2;
}

.progress-purple progress {
  background-color: @purple_2;
}

.progress-brown progress {
  background-color: @brown_2;
}

/* Sidebar */

.dnd-sidebar {
  border-width: 10px;
  border-radius: 15px;
  border-style: dotted;
  border-color: @light_3;
}

/* Utils */

.fade {
  transition: 0.2s;
}

.rotate {
  transform: rotate(180deg);
}