CompileFlags:
  Add:
    - -x
    - c
    - -I/usr/include/libadwaita-1
    - -I/usr/include/gtk-4.0
    - -I/usr/include/pango-1.0
    - -I/usr/include/harfbuzz
    - -I/usr/include/gdk-pixbuf-2.0
    - -I/usr/include/webp
    - -I/usr/include/cairo
    - -I/usr/include/libxml2
    - -I/usr/include/freetype2
    - -I/usr/include/libpng16
    - -I/usr/include/pixman-1
    - -I/usr/include/graphene-1.0
    - -I/usr/lib64/graphene-1.0/include
    - -I/usr/include/fribidi
    - -I/usr/include/appstream
    - -I/usr/include/libmount
    - -I/usr/include/blkid
    - -I/usr/include/glib-2.0
    - -I/usr/lib64/glib-2.0/include
    - -I/usr/lib/glib-2.0/include
    - -I/usr/include/sysprof-6
    - -I/usr/include/gtksourceview-5
    - -I/usr/include/evolution-data-server
    - -I/usr/include/libsoup-3.0
    - -I/usr/include/json-glib-1.0
    - -I/usr/include/gio-unix-2.0
    - -I/usr/include/libsecret-1
    - -I/usr/include/p11-kit-1
    - -I/usr/include/webkitgtk-6.0
    - -pthread
    - -Wno-macro-redefined
    - -DCALDAV_IMPLEMENTATION
