/* Task lists item */
.task-lists-item:drop(active) {
    background-color: @blue_2;
}

.task-blue {
    background: #7692b4;
}

.task-green {
    background: #5ca06b;
}

.task-yellow {
    background: #9b9542;
}

.task-orange {
    background: #bd9058;
}

.task-red {
    background: #b74f43;
}

.task-purple {
    background: #a56ba5;
}

.task-brown {
    background: #9a826f;
}

link {
    color: white;
}