/* Task */

.card {
  background-color: alpha(@card_bg_color, 0.5);
}

.tasks-list:last-child {
  margin-bottom: 36px;
}

.task {
  margin: 6px 12px 6px 12px;
}

.task-expand-icon {
  transition: transform 0.25s;
}

.task-drop-area {
  padding: 5px;
  margin: 5px 12px 4px 12px;
  border-radius: 10px;
  border-width: 3px;
  border-style: dotted;
  border-color: @light_4;
}

.task-drop-target:drop(active) {
  border-radius: 10px;
}

.task-completed {
  opacity: 0.7;
}

/* Task accent colors */

.task-blue {
  background: #dde9f7;
}

.task-green {
  background: #daf7e0;
}

.task-yellow {
  background: #faf7cf;
}

.task-orange {
  background: #fce8d0;
}

.task-red {
  background: #f9ccc7;
}

.task-purple {
  background: #f1d8f1;
}

.task-brown {
  background: #ece2da;
}

/* Accent colors buttons */

.accent-color-btn {
  transition: 0.25s;
}

.accent-color-btn:hover {
  filter: brightness(1.2);
}

.btn-blue {
  background: @blue_1;
}

.btn-green {
  background: @green_1;
}

.btn-yellow {
  background: @yellow_1;
}

.btn-orange {
  background: @orange_1;
}

.btn-red {
  background: @red_1;
}

.btn-purple {
  background: @purple_1;
}

.btn-brown {
  background: @brown_1;
}

/* Sub-task */

.sub-tasks:last-child {
  margin-bottom: 6px;
}

.sub-task {
  margin: 6px 11px 6px 11px;
}

/* Utils */

.rounded-corners {
  border-radius: 15px;
}

.fade {
  transition: 0.2s;
}

.rotate {
  transform: rotate(180deg);
}