/* Sidebar */
.sidebar-item {
  transition: background-color 0.2s;
}

.sidebar-item:drop(active) {
  background-color: @blue_1;
}

.sidebar-item-trash:drop(active) {
  background-color: @orange_1;
}

/* Task */

.task-title:drop(active) {
  border-radius: 10px;
}

.task {
  padding: 0px;
  border-radius: 12px;
}

.task-expand-icon {
  transition: transform 0.25s;
}

.task-drop-area {
  padding: 8px;
  margin: 0px 0px 8px 0px;
  border-radius: 10px;
  border-width: 3px;
  border-style: dotted;
  border-color: @light_4;
}

.task-completed box.title {
  opacity: 0.5;
}

.task-completed label.title {
  text-decoration: line-through;
}

/* Task accent colors */

.task-blue {
  background: #dde9f7;
}

.task-blue progressbar progress,
.task-blue checkbutton check:checked {
  background-color: @blue_2;
}

.task-green {
  background: #daf7e0;
}

.task-green progressbar progress,
.task-green checkbutton check:checked {
  background-color: @green_3;
}

.task-yellow {
  background: #faf7cf;
}

.task-yellow progressbar progress,
.task-yellow checkbutton check:checked {
  background-color: @yellow_4;
}

.task-orange {
  background: #fce8d0;
}

.task-orange progressbar progress,
.task-orange checkbutton check:checked {
  background-color: @orange_2;
}

.task-red {
  background: #f9ccc7;
}

.task-red progressbar progress,
.task-red checkbutton check:checked {
  background-color: @red_1;
}

.task-purple {
  background: #f1d8f1;
}

.task-purple progressbar progress,
.task-purple checkbutton check:checked {
  background-color: @purple_2;
}

.task-brown {
  background: #ece2da;
}

.task-brown progressbar progress,
.task-brown checkbutton check:checked {
  background-color: @brown_2;
}

/* Accent color buttons */

.accent-color-btn radio {
  all: unset;
  border: 2px solid transparent;
  border-radius: 9999px;
  min-width: 14px;
  min-height: 14px;
  color: @light_1;
}

.accent-color-btn radio:hover {
  filter: brightness(1.2);
}

.accent-color-btn radio:checked {
  -gtk-icon-transform: scale(0.7);
  -gtk-icon-source: -gtk-icontheme("errands-select-symbolic");
}

.accent-color-btn-none radio {
  border-color: alpha(@view_fg_color, 0.3);
}

.accent-color-btn-none radio:checked {
  color: @window_fg_color;
}

.accent-color-btn-blue radio {
  background-color: @blue_2;
}

.accent-color-btn-green radio {
  background-color: @green_2;
  color: @window_fg_color;
}

.accent-color-btn-yellow radio {
  background-color: @yellow_2;
  color: @window_fg_color;
}

.accent-color-btn-orange radio {
  background-color: @orange_2;
  color: @window_fg_color;
}

.accent-color-btn-red radio {
  background-color: @red_2;
}

.accent-color-btn-purple radio {
  background-color: @purple_2;
}

.accent-color-btn-brown radio {
  background-color: @brown_2;
}

/* Tag */

.tag {
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: alpha(black, 0.07);
}

.tag>button {
  all: unset;
  margin-left: 6px;
}

.tags-menu contents {
  padding: 0px;
}

/* Sub-task */

.sub-tasks:last-child {
  margin-bottom: 6px;
}

/* Utils */

.rounded-corners {
  border-radius: 12px;
}

.transparent {
  background-color: transparent;
}

.fade {
  transition: 0.2s;
}

/* Expand indicator */

.expand-indicator {
  transition: 0.2s;
}

.expand-indicator-expanded {
  transform: rotate(180deg);
}

/* Overrides */

checkbutton check {
  transition: background-color 0.2s;
}

progressbar.osd {
  background-color: @shade_color;
}

textview text {
  background-color: @card_bg_color;
}

calendar {
  background: @background;
}

calendar,
calendar header {
  border: none;
}