/* Task lists item */
.sidebar-item {
  transition: background-color 0.2s;
}

.sidebar-item:drop(active) {
  background-color: @blue_1;
}

.sidebar-item-trash:drop(active) {
  background-color: @orange_1;
}

/* Task */

.task-title:drop(active) {
  border-radius: 10px;
}

.tasks-list:last-child {
  margin-bottom: 36px;
}

.task {
  margin: 6px 12px 6px 12px;
  background-color: alpha(@card_bg_color, 0.5);
}

.task-expand-icon {
  transition: transform 0.25s;
}

.task-drop-area {
  padding: 6px;
  margin: 0px 0px 12px 0px;
  border-radius: 10px;
  border-width: 3px;
  border-style: dotted;
  border-color: @light_4;
}

.task-drop-target:drop(active) {
  border-radius: 10px;
}

.task-completed box.title {
  opacity: 0.5;
}

.task-completed label.title {
  text-decoration: line-through;
}

.task-toolbar-btn {
  all: unset;
  opacity: 0.7;
  font-size: 12px;
  padding: 4px;
  border-radius: 6px;
  transition: 0.2s;
}

.task-toolbar-btn:hover {
  background-color: @shade_color;
}

/* Task accent colors */

.task-blue {
  background: #dde9f7;
}

.task-green {
  background: #daf7e0;
}

.task-yellow {
  background: #faf7cf;
}

.task-orange {
  background: #fce8d0;
}

.task-red {
  background: #f9ccc7;
}

.task-purple {
  background: #f1d8f1;
}

.task-brown {
  background: #ece2da;
}

/* Accent color buttons */

.accent-color-btn radio {
  all: unset;
  border: 2px solid transparent;
  border-radius: 9999px;
  min-width: 24px;
  min-height: 24px;
  color: @light_1;
  transition: 0.2s;
}

.accent-color-btn radio:hover {
  filter: brightness(1.2);
}

.accent-color-btn radio:checked {
  -gtk-icon-transform: scale(0.7);
  -gtk-icon-source: -gtk-icontheme("errands-select-symbolic");
}

.accent-color-btn-none radio {
  border-color: @shade_color;
}

.accent-color-btn-none radio:checked {
  color: @window_fg_color;
}

.accent-color-btn-blue radio {
  background-color: @blue_2;
}

.accent-color-btn-green radio {
  background-color: @green_2;
}

.accent-color-btn-yellow radio {
  background-color: @yellow_2;
  color: @window_fg_color;
}

.accent-color-btn-orange radio {
  background-color: @orange_2;
}

.accent-color-btn-red radio {
  background-color: @red_2;
}

.accent-color-btn-purple radio {
  background-color: @purple_2;
}

.accent-color-btn-brown radio {
  background-color: @brown_2;
}

/* Sub-task */

.sub-tasks:last-child {
  margin-bottom: 6px;
}

.sub-task {
  margin: 6px 11px 6px 11px;
  background-color: alpha(@card_bg_color, 0.5);
}


/* Utils */

.rounded-corners {
  border-radius: 12px;
}

.transparent {
  background-color: transparent;
}

.fade {
  transition: 0.2s;
}

/* Expand indicator */

.expand-indicator {
  transition: 0.2s;
}

.expand-indicator-expanded {
  transform: rotate(180deg);
}

/* Overrides */

progressbar.osd {
  background-color: @shade_color;
}

textview text {
  background-color: @card_bg_color;
}

calendar {
  background: @background;
}

calendar,
calendar header {
  border: none;
}