/* Tasks list */
.separator {
  background: linear-gradient(to bottom, @borders, transparent);
}

/* Task */
.task {
  transition: 0.25s;
}

.task-expand-icon {
  transition: transform 0.25s;
}

.task-blue {
  background: alpha(@blue_1, 0.3);
}

.task-green {
  background: alpha(@green_1, 0.3);
}

.task-yellow {
  background: alpha(@yellow_1, 0.3);
}

.task-orange {
  background: alpha(@orange_1, 0.3);
}

.task-red {
  background: alpha(@red_1, 0.3);
}

.task-purple {
  background: alpha(@purple_1, 0.3);
}

.task-brown {
  background: alpha(@brown_1, 0.3);
}

/* Accent colors buttons */

.accent-color-btn {
  transition: 0.25s;
  min-width: 30px;
  min-height: 30px;
}

.accent-color-btn:hover {
  filter: brightness(1.2);
}

.btn-blue {
  background: @blue_1;
}

.btn-green {
  background: @green_1;
}

.btn-yellow {
  background: @yellow_1;
}

.btn-orange {
  background: @orange_1;
}

.btn-red {
  background: @red_1;
}

.btn-purple {
  background: @purple_1;
}

.btn-brown {
  background: @brown_1;
}

/* Sub-task */
.sub-task-rev {
  transition: opacity 0.25s;
}

.sub-task-rev:drop(active) {
  border-radius: 10px;
}

.sub-task {
  border-top-width: 1px;
  border-style: solid;
  border-color: @card_shade_color;
}

/* Progress bar */
progressbar {
  transition: background-color 0.25s;
  opacity: 0.7;
}

progress {
  transition: background-color 0.25s;
}

.task-progressbar {
  background-color: @card_shade_color;
}

.progress-blue progress {
  background-color: @blue_2;
}

.progress-green progress {
  background-color: @green_3;
}

.progress-yellow progress {
  background-color: @yellow_4;
}

.progress-orange progress {
  background-color: @orange_2;
}

.progress-red progress {
  background-color: @red_2;
}

.progress-purple progress {
  background-color: @purple_2;
}

.progress-brown progress {
  background-color: @brown_2;
}

/* Trash */
.move-to-trash {
  border-radius: 10px;
  border-width: 10px;
  border-style: dashed;
  border-color: alpha(@light_5, 0.5);
}

/* Utils */
.fade {
  transition: 0.2s;
}

.rotate {
  transform: rotate(180deg);
}