/* Task */
.task-blue {
    background: alpha(@blue_1, 0.3);
}

.task-green {
    background: alpha(@green_1, 0.3);
}

.task-yellow {
    background: alpha(@yellow_1, 0.3);
}

.task-orange {
    background: alpha(@orange_1, 0.3);
}

.task-red {
    background: alpha(@red_1, 0.3);
}

.task-purple {
   background: alpha(@purple_1, 0.3);
}

.btn-blue {
    background: @blue_1;
}

.btn-blue:hover {
    background: shade(@blue_1, 1.2);
}

.btn-green {
    background: @green_1;
}

.btn-green:hover {
    background: shade(@green_1, 1.2);
}

.btn-yellow {
    background: @yellow_1;
}

.btn-yellow:hover {
    background: shade(@yellow_1, 1.2);
}

.btn-orange {
    background: @orange_1;
}

.btn-orange:hover {
    background: shade(@orange_1, 1.2);
}

.btn-red {
    background: @red_1;
}

.btn-red:hover {
    background: shade(@red_1, 1.2);
}

.btn-purple {
    background: @purple_1;
}

.btn-purple:hover {
    background: shade(@purple_1, 1.2);
}

/* Sub-task */
.sub-task {
    border-top-width: 1px;
    border-style: solid;
    border-color: @card_shade_color;
}

/* Progress bar */
.task-progressbar {
    background-color: @card_shade_color;
}

progressbar {
  transition: background-color 0.5s;
  opacity: 0.7;
}

.progress-blue progress {
  background-color: @blue_2;
}

.progress-green progress {
  background-color: @green_2;
}

.progress-yellow progress {
  background-color: @yellow_3;
}

.progress-orange progress {
  background-color: @orange_2;
}

.progress-red progress {
  background-color: @red_2;
}

.progress-purple progress {
  background-color: @purple_2;
}

