/* Task */
.task_blue {
    background: mix(@card_bg_color, @blue_1, 0.3);
}

.task_green {
    background: mix(@card_bg_color, @green_1, 0.3);
}

.task_yellow {
    background: mix(@card_bg_color, @yellow_1, 0.3);
}

.task_orange {
    background: mix(@card_bg_color, @orange_1, 0.3);
}

.task_red {
    background: mix(@card_bg_color, @red_1, 0.3);
}

.task_purple {
   background: mix(@card_bg_color, @purple_1, 0.3);
}

.btn_blue {
    background: @blue_1;
}

.btn_blue:hover {
    background: shade(@blue_1, 1.2);
}

.btn_green {
    background: @green_1;
}

.btn_green:hover {
    background: shade(@green_1, 1.2);
}

.btn_yellow {
    background: @yellow_1;
}

.btn_yellow:hover {
    background: shade(@yellow_1, 1.2);
}

.btn_orange {
    background: @orange_1;
}

.btn_orange:hover {
    background: shade(@orange_1, 1.2);
}

.btn_red {
    background: @red_1;
}

.btn_red:hover {
    background: shade(@red_1, 1.2);
}

.btn_purple {
    background: @purple_1;
}

.btn_purple:hover {
    background: shade(@purple_1, 1.2);
}

/* Sub-task */
.sub-task {
    border-top-width: 1px;
    border-style: solid;
    border-color: @card_shade_color;
}
