[Desktop Entry]
Name=Errands
Exec=errands
Icon=@APP_ID@
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;
StartupNotify=true
X-Purism-FormFactor=Workstation;Mobile;
