[Desktop Entry]
Name=Errands
Exec=errands
Icon=io.github.mrvladus.List
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;
StartupNotify=true
# Translators: Do NOT translate or transliterate this text (these are enum types)!
X-Purism-FormFactor=Workstation;Mobile;
