.sub-task-entry {
    opacity: 0.6;
    transition: 0.2s;
}

.sub-task-entry:hover,
.sub-task-entry:focus-within {
    opacity: 1;
}

.priority-low {
    color: var(--accent-blue);
}

.priority-medium {
    color: var(--accent-orange);
}

.priority-high {
    color: var(--accent-red);
}

/* Accent color buttons */

.accent-color-btn radio {
    all: unset;
    border: 2px solid transparent;
    border-radius: 50%;
    min-width: 26px;
    min-height: 26px;
    color: var(--light-2);
}

.accent-color-btn radio:hover {
    filter: brightness(1.2);
}

.accent-color-btn radio:checked {
    -gtk-icon-transform: scale(0.7);
    -gtk-icon-source: -gtk-icontheme("errands-select-symbolic");
}

.accent-color-btn-none radio {
    border-color: alpha(var(--view-fg-color), 0.3);
}

.accent-color-btn-none radio:checked {
    color: var(--window-fg-color);
}

.accent-color-btn-blue radio {
    background-color: var(--blue-2);
}

.accent-color-btn-green radio {
    background-color: var(--green-2);
}

.accent-color-btn-yellow radio {
    background-color: var(--yellow-2);
    color: var(--window-fg-color);
}

.accent-color-btn-orange radio {
    background-color: var(--orange-2);
    color: var(--window-fg-color);
}

.accent-color-btn-red radio {
    background-color: var(--red-2);
}

.accent-color-btn-purple radio {
    background-color: var(--purple-2);
}

.accent-color-btn-brown radio {
    background-color: var(--brown-2);
}

/* Task accent colors */

.task-blue {
    background: #dde9f7;
}

.progressbar-blue progress,
.checkbtn-blue check:checked {
    background-color: var(--blue-2);
}

.task-green {
    background: #daf7e0;
}

.progressbar-green progress,
.checkbtn-green check:checked {
    background-color: var(--green-3);
}

.task-yellow {
    background: #faf7cf;
}

.progressbar-yellow progress,
.checkbtn-yellow check:checked {
    background-color: var(--yellow-4);
}

.task-orange {
    background: #fce8d0;
}

.progressbar-orange progress,
.checkbtn-orange check:checked {
    background-color: var(--orange-2);
}

.task-red {
    background: #f9ccc7;
}

.progressbar-red progress,
.checkbtn-red check:checked {
    background-color: var(--red-1);
}

.task-purple {
    background: #f1d8f1;
}

.progressbar-purple progress,
.checkbtn-purple check:checked {
    background-color: var(--purple-2);
}

.task-brown {
    background: #ece2da;
}

.progressbar-brown progress,
.checkbtn-brown check:checked {
    background-color: var(--brown-2);
}

.task-toolbar-btn > button,
.tag {
    padding: 0px 4px;
}

/* Date and time widndow */

.weekday {
    padding: 2px;
}

/* Sidebar */

.sidebar-task-list-row {
    transition: 0.2s;
}

.sidebar-task-list-row:drop(active) {
    background-color: var(--blue-1);
}

/* Overrides */

colorbutton button {
    border-radius: 9999px;
    padding: 0px;
    margin: 0px;
    transform: scale(0.8);
}

colorbutton button colorswatch {
    border-radius: 9999px;
    transform: scale(0.8);
}

progressbar.osd {
    background-color: var(--shade-color);
}

calendar {
    background: var(--view-bg-color);
}

calendar,
calendar header {
    border: none;
}

calendar button {
    border-radius: 9999px;
}

calendar label {
    border-radius: 9999px;
    padding: 5px;
}

editablelabel > stack > text {
    background-color: transparent;
}
