.sub-toggle-btn > image {
    -gtk-icon-transform: scale(0.6);
    transition: 0.2s;
}

.sub-toggle-btn:checked > image,
.sub-toggle-btn:hover > image {
    -gtk-icon-transform: scale(1);
    color: var(--accent-color);
}

/* Accent color buttons */

.accent-color-btn radio {
    all: unset;
    border: 2px solid transparent;
    border-radius: 50%;
    min-width: 16px;
    min-height: 16px;
    color: var(--light-2);
    transition: 0.2s;
}

.accent-color-btn radio:hover {
    transform: scale(1.1);
}

.accent-color-btn radio:checked {
    -gtk-icon-transform: scale(0.7);
    -gtk-icon-source: -gtk-icontheme("errands-select-symbolic");
}

.accent-color-btn-none radio {
    border-color: alpha(var(--view-fg-color), 0.3);
}

.accent-color-btn-none radio:checked {
    color: var(--window-fg-color);
}

.accent-color-btn-blue radio {
    background-color: var(--blue-2);
}

.accent-color-btn-green radio {
    background-color: var(--green-2);
}

.accent-color-btn-yellow radio {
    background-color: var(--yellow-2);
    color: var(--window-fg-color);
}

.accent-color-btn-orange radio {
    background-color: var(--orange-2);
    color: var(--window-fg-color);
}

.accent-color-btn-red radio {
    background-color: var(--red-2);
}

.accent-color-btn-purple radio {
    background-color: var(--purple-2);
}

.accent-color-btn-brown radio {
    background-color: var(--brown-2);
}

/* Task accent colors */

.task-blue {
    background: #dde9f7;
}

.checkbtn-blue check:checked {
    background-color: var(--blue-2);
}

.task-green {
    background: #daf7e0;
}

.checkbtn-green check:checked {
    background-color: var(--green-3);
}

.task-yellow {
    background: #faf7cf;
}

.checkbtn-yellow check:checked {
    background-color: var(--yellow-4);
}

.task-orange {
    background: #fce8d0;
}

.checkbtn-orange check:checked {
    background-color: var(--orange-2);
}

.task-red {
    background: #f9ccc7;
}

.checkbtn-red check:checked {
    background-color: var(--red-1);
}

.task-purple {
    background: #f1d8f1;
}

.checkbtn-purple check:checked {
    background-color: var(--purple-2);
}

.task-brown {
    background: #ece2da;
}

.checkbtn-brown check:checked {
    background-color: var(--brown-2);
}

.task-toolbar-btn > button,
.tag {
    padding: 0px 4px;
}

/* Date and time widndow */

.weekday {
    padding: 2px;
}

/* Overrides */

checkbutton > check {
    transition: 0s;
}

colorbutton button {
    border-radius: 9999px;
    padding: 0px;
    margin: 0px;
    transform: scale(0.8);
    min-height: 36px;
    min-width: 36px;
}

colorbutton button colorswatch {
    border-radius: 9999px;
    transform: scale(0.8);
}

calendar {
    background: var(--view-bg-color);
}

calendar,
calendar header {
    border: none;
}

calendar button {
    border-radius: 9999px;
}

calendar label {
    border-radius: 9999px;
    padding: 5px;
}

editablelabel > stack > text {
    background-color: transparent;
}

listview {
    background-color: transparent;
}

listview > row {
    border-radius: var(--window-radius);
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 6px;
}

expander {
    -gtk-icon-source: -gtk-icontheme("errands-right-symbolic");
    transition: 0.2s;
}

expander:hover {
    -gtk-icon-transform: scale(1.5);
    color: var(--accent-color);
}

expander:checked {
    -gtk-icon-source: -gtk-icontheme("errands-down-symbolic");
    color: var(--accent-color);
}
